@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-color: #1f2629;
    --secondary-color: #56c5c3;
    --tertiary-color: #f4ffff;
    --background: #fff;
    --button-hover: #bce3e2;
    --opacity-sun: 0;
    --opacity-moon: 1;
}
.dark-theme {
    --primary-color: #fff;
    --tertiary-color: #2a3737;
    --background: #1f2629;
    --b-color: #bce3e2;
    --button-hover: #56c5c3;
    --opacity-sun: 1;
    --opacity-moon: 0;
}
body {
    background: #e6e6e6;
}
.container {
    height: 1350px;
    width:  1170px;
    background: var(--background);
    padding: 30px 40px 40px 60px;
    margin: 0 auto;
    color: var(--primary-color);
    transition: 0.5s ease;
}
nav {
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    top: 0;
}
button {
    height: 50px;
    width:50px;
    border-radius: 50%;
    background: var(--tertiary-color);
    border: none;
    font-size: 16px;
    margin-right: 16px;
    transition: 0.5s ease-in-out;
    color: var(--primary-color);
} 
button:hover {
    transition: all 200ms ease-in-out;
    cursor: pointer;
    color: var(--background);
    background: var(--button-hover);
  }
.night:hover {
      background: var(--primary-color);
    }
.night:hover .fa-moon {
    color: var(--background);
}
.fa-moon {
    opacity:var(--opacity-moon);
    transform: translateX(10px);
  }
.fa-sun {
    opacity: var(--opacity-sun);
    transform: translateX(-10px);
  }
.content-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}
h1 {
    font-size: 40px;
    margin-top: 10px;
}
h2 {
    font-size: 22px;
    margin-bottom: 5px;
}
h3 {
    font-size: 16px;
    color: var(--secondary-color);
}
/* Aside */
aside {
    display: flex;
    flex-direction: column;
    width: 30%;
}
img {
    border-radius: 50%;
    margin: 30px 0;
    transform: translate(-15px, 0%);
}
.contact {
    display: flex;
    align-items: center;
    height: 30px;
}
a {
    text-decoration: none;
    color: var(--primary-color);
}
a:hover {
    cursor: pointer;
    color:var(--secondary-color);
}
.fa-linkedin {
    color: #0a63bc;
}
.section i {
    margin-right: 12px;
}
.none {
    list-style-type: none;
    padding-inline-start: 0;
}
ol li img {
    width: 200px;
    position: absolute;
    opacity: 0;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: 1s ease-out;
    transform: translateX(-200%) translateY(-30px);
}
ol li:hover img{
    opacity: 1;
    transform: translateX(-10%) translateY(-30px);
}
.course {
    display: flex;
    align-items: center;
    justify-content: left;
    
}
.course img {
    margin: 0;
}
.course a,
.course-p {
    font-size: 20px;
}
/* Main */
main {
    display: flex;
    flex-direction: column;
    max-width: 70%; 
    margin-left: 50px;
}
.header {
    margin-top: 30px;
}
.section {
    margin: 14px 0 ;
}
.indicator {
    cursor: pointer;
}
.indicator::after {
    content: "*";
    color: var(--secondary-color);
    font-weight: 600;
}
.goit-popup,
.windows-popup,
.know-why-popup {
    padding: 10px;
    background: var(--tertiary-color);
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    max-width: 470px;
    position: absolute;
    opacity: 0;
    transition: 0.8s ease;
}
ul li:hover .goit-popup,
ul li:hover .windows-popup,
ul li:hover .know-why-popup {
    opacity: 1;
    transform: translateX(5%) translateY(10px);
}
ul,
ol,
.skill h3 {
    padding-inline-start: 18px;
}
li {
    line-height: 24px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.skill {
    margin-right: 40px;
}
.skill li {
    line-height: 18px;
}
ol {
    margin-right: 25px;
}
ol li {
    margin:3px 0;
}
b {
    font-weight: 600;
    color: var(--b-color);
}
